header {
  color: #3e98c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 3vh 5%;
  box-shadow: 0 3px 4px #646669;
}

.header_logolinks {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main {
  width: 80%;
  margin: 28vh auto;
}

.header_logo {
  color: #3e98c7;
  font-size: xx-large;
}

.header_links {
  font-weight: 500;
  font-size: large;
}

/* unvisited link */
a {
  color: #807f7d;
  text-decoration: none;
  margin: 0% 10px;
}

/* mouse over link */
a:hover {
  color: #3e98c7;
}

/* selected link */
a:active {
  color: #09090a;
}

.fa-user {
  color: #3e98c7;
}
