header {
  color: #4386bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 2vh 5%;
  box-shadow: 0 3px 2px #a1a1a1;
}

.header_logolinks {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main {
  width: 80%;
  margin: 10vh auto;
}

.header_logo {
  color: #0290ff;
  font-size: large;
}

.header_links {
  font-weight: 500;
  font-size: large;
}

/* unvisited link */
a {
  color: #b9babb;
  text-decoration: none;
  margin: 0% 10px;
}

/* mouse over link */
a:hover {
  color: #09090a;
}

/* selected link */
a:active {
  color: #09090a;
}

.fa-user {
  color: #0290ff;
}
